*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*encabezado*/

.banner-content{
    background:url(/assets/img/design1_image1.jpg);opacity: 0.9 ;
    background-position: 50% 25% ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 350px;
    width: 100%;
    max-width:100% ;
    
}

h1{
    display: flex;
    font-size: 3rem;
    font-style: oblique;
    color:rgb(0, 0, 0);
    opacity: 1;
    padding-left: 10px;
}

.box-title{
    text-align: center;
    padding-top:0.5% ;
    padding-bottom: 0.5%;
    position: relative;
    
}

h2{
    background-color:rgb(0, 0, 0);
    color: rgb(254, 254, 254);
    min-height: 6vh;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo{
    position: absolute ;
    right: 15%;
    bottom: -80%;
    left: 75% ;
    z-index:3;
}

img{
    width: 150px;
    height: 150px;
    
}


/*barra de navegación

.conteiner-sidebar{
    position: relative;
    height: 15em;
    margin: auto;
    max-width: 25em;
    border: 0.2em solid red;
}

nav{
    display: flex;
    flex-direction: column;
position: absolute;
right: 100%;
padding: 1em;
background-color: blue;
}

*/

.conteiner-sidebar{
    display: flex;
    min-height: 100vh;
    position: relative;
}

.sidebar{
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    
}

.sidebar .options a{
    display: block;
    padding: 1rem;
    text-decoration: underline;
    font-size: 1em;
}

nav a{
    color:blue;
}

a:hover{
    color:black ;
}


.text4{
    position: absolute;
    margin-left: 20%;
    top: 26em;
    z-index: 2;
    border-radius: 1rem;
    
}

h3{
    margin: 1rem;
}

p{
    padding-left: 1.5rem;
}